<div class="container">
  <h1>{{ titulo }}</h1>
  <div class="form-group mb-3">
    <label>Primer numero</label>
    <input
      type="number"
      class="form-control"
      id="inputNum"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-sm"
      placeholder="Primer Numero"
      [(ngModel)]="operandoA"
      name="opernadoA"
    />
  </div>
  <div class="form-group mb-3">
    <label>Segundo numero</label>
    <input
      type="number"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-sm"
      placeholder="Segundo Numero"
      [(ngModel)]="operandoB"
      name="operandoB"
    />
  </div>
 
    <div class="btn-group"role="group"aria-label="Basic outlined example"id="botones">
      <button type="submit"id="boton"class="btn btn-outline-primary"(click)="sumar()">Sumar</button>
      <button type="submit"id="boton"class="btn btn-outline-primary"(click)="restar()">Restar</button>
      <button type="submit"id="boton-m"class="btn btn-outline-primary"(click)="multiplicar()">Multiplicar</button>
      <button type="submit" id="cancelar" class="btn btn-danger" (click)="borrar()">Borrar</button>
    </div>
  
  <div>
    <p>{{ resultado }}</p>
  </div>
</div>
